.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  backdrop-filter: blur(15px);
  background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, #46c4fc 100%);
}

.title {
  padding: 1rem;
  display: flex;
  justify-content: center;
  font-size: 4rem;
  color: midnightblue;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerRedes {
  display: flex;
  width: 30%;
  font-size: 2rem;
  justify-content: space-around;
  align-items: center;
}

.redes {
  cursor: pointer;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 3rem;
  height: 100vh;
  width: 100%;
}

.form {
  border: 6px solid white;
  border-radius: 20px;
  width: 110%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  backdrop-filter: blur(15px);
}

.headerForm {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.headerForm h1 {
  font-size: 2rem;
  color: midnightblue;
  background-color: #fff;
  border-radius: 20px;
  padding: 1rem;
}

.form form {
  border: 4px solid;
  border-image: linear-gradient(
      to left,
      rgb(25, 21, 105) 0%,
      rgba(64, 64, 158, 1) 35%,
      rgb(0, 102, 255)
    )
    1;
  width: 80%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.form textarea {
  border: 2px solid;
  border-image: linear-gradient(
      to left,
      rgb(25, 21, 105) 0%,
      rgba(64, 64, 158, 1) 35%,
      rgb(0, 102, 255)
    )
    1;
  width: 50%;
  height: 10vh;
}

.completados {
  width: 110%;
  height: 60vh;
  border: 6px solid white;
  border-radius: 20px;
  margin-top: 1rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  backdrop-filter: blur(15px);
}

.listaCompleto {
  width: 80%;
  height: 40vh;
  border: 4px solid;
  border-image: linear-gradient(
      to left,
      rgb(25, 21, 105) 0%,
      rgba(64, 64, 158, 1) 35%,
      rgb(0, 102, 255)
    )
    1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.list {
  border: 6px solid white;
  border-radius: 20px;

  width: 40%;
  height: 122.5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  backdrop-filter: blur(15px);
}

.containerList {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 4px solid;
  border-image: linear-gradient(
      to left,
      rgb(25, 21, 105) 0%,
      rgba(64, 64, 158, 1) 35%,
      rgb(0, 102, 255)
    )
    1;
  overflow-y: scroll;
}

.containerList::-webkit-scrollbar,
.listaCompleto::-webkit-scrollbar {
  width: 12px;
}

.containerList::-webkit-scrollbar-track,
.listaCompleto::-webkit-scrollbar-track {
  background-color: midnightblue;
}

.containerList::-webkit-scrollbar-thumb,
.listaCompleto::-webkit-scrollbar-thumb {
  background-color: cyan;
  border-radius: 20px;
  border: 3px solid midnightblue;
}

.input {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.items {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 4px solid rgb(105, 105, 255);
  background-color: #fff;
  border-radius: 10px;
  width: 70%;
  padding: 1rem;
  word-break: break-all;
}

.h1 {
  font-size: 2rem;
  color: midnightblue;
  background-color: #fff;
  border-radius: 20px;
  padding: 1rem;
}

.btn_agregar {
  width: 8rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn_agregar:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn_agregar:focus {
  outline: none;
}

@media screen and (max-width: 550px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 200%;
    backdrop-filter: blur(15px);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, #46c4fc 100%);
  }
  .containerTitle {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: radial-gradient(
      circle,
      rgba(63, 94, 251, 1) 0%,
      rgba(70, 196, 252, 1) 100%
    );
  }
  .title {
    padding: 1rem;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: midnightblue;
  }
  .containerRedes {
    display: flex;
    width: 30%;
    font-size: 2rem;
    justify-content: space-around;
    align-items: center;
  }
  .container {
    width: 200%;
    height: 180vh;
    display: flex;
    justify-content: space-evenly;
  }

  .form {
    width: 90%;
    height: 80vh;
    margin-left: 2rem;
  }
  .headerForm h1 {
    font-size: 2rem;
    color: midnightblue;
    background-color: #fff;
    border-radius: 20px;
    padding: 0.5rem;
    margin-right: 1rem;
  }
  .completados {
    width: 90%;
    height: 80vh;
    margin-left: 2rem;
  }

  .listaCompleto {
    width: 95%;
  }

  .list {
    height: 162.5vh;
    margin-right: 2rem;
  }
  .items {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 425px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 200%;
    backdrop-filter: blur(15px);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, #46c4fc 100%);
  }
  .containerTitle {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: radial-gradient(
      circle,
      rgba(63, 94, 251, 1) 0%,
      rgba(70, 196, 252, 1) 100%
    );
  }
  .title {
    padding: 1rem;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: midnightblue;
  }
  .containerRedes {
    display: flex;
    width: 30%;
    font-size: 2rem;
    justify-content: space-around;
    align-items: center;
  }
  .container {
    width: 200%;
    height: 180vh;
    display: flex;
    justify-content: space-evenly;
  }

  .form {
    width: 90%;
    height: 80vh;
    margin-left: 2rem;
  }
  .headerForm h1 {
    font-size: 2rem;
    color: midnightblue;
    background-color: #fff;
    border-radius: 20px;
    padding: 0.5rem;
    margin-right: 1rem;
  }
  .completados {
    width: 90%;
    height: 80vh;
    margin-left: 2rem;
  }

  .listaCompleto {
    width: 95%;
  }

  .list {
    height: 162.5vh;
    margin-right: 2rem;
  }
  .items {
    margin-left: 1rem;
  }
}
